* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
	/* outline: 1px solid white; */

}

.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-image: url("./background.png");
	opacity: 0.90;
}

.header {
	color: #944242;
	text-align: center;
	padding-top: 20px;
}

.header p {
	color: #034D95;
	text-shadow: 3px 3px #04EDF6;
	font-size: 2rem;
}



.main {
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
	margin-bottom: 30px;
}

.bgColor {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-column-gap: 2rem;;
	grid-template-areas:
	"picker title";
}
#background-color { 
	grid-area: picker; 
}
.bgColorTitle {
	grid-area: title; 
	color: white;
	font-size: 1.5rem;
}

.penColor {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-column-gap: 2rem;;
	grid-template-areas:
	"picker title";
}

#pen-color { 
	grid-area: picker; 
}
.penColorTitle {
	grid-area: title;
	color: white;
	font-size: 1.5rem;

}


.controls p {
	font-size: 1.5rem;
	color: aliceblue;
	text-align: center;
	padding-bottom: 20px;
}

.logo {
	border: 5px solid aliceblue;
	border-radius: 8px;
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	font-size: 1.5rem;
	color: aliceblue;
	
	
}

.res-choice {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin-top: 70px;
}

#res {
	margin-bottom: 20px;
	border: 5px solid #057DD4;
	border-radius: 12px;
	text-align: center;
	margin-bottom: 5px;
}

.choose-resolution {
	font-size: 50px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.sketch-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 550px;
	height: 550px;
	border-radius: 8px;
	background-color: #001122;
	margin-right: 120px;
	
}

.sketch-container-user-defined {
	display: grid;
	grid-template-rows: repeat(var(--itemCount), 1fr);								
	grid-template-columns: repeat(var(--itemCount), 1fr);
	width: 500px;
	height: 500px;
	border: 1px solid rgb(106, 12, 12);
}

.sketch-container-default {
	display: grid;
	grid-template-rows: repeat(var(--itemCount), 1fr);								
	grid-template-columns: repeat(var(--itemCount), 1fr);
	width: 500px;
	height: 500px;
	border: 1px solid white;
}

.item {
	border: 0.1px solid rgb(157, 157, 157);
	font-size: 15px;
	background: #ffffff;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	background-color: #001122;
	border-radius: 8px;
	padding: 25px 50px 25px 50px;
	margin-left: 120px;
}

#res-display {
	font-size: 1rem;
	color: white;	
}


button {
font-size: 1rem;
border: 5px solid #057DD4;
border-radius: 12px;
padding-left: 25px;
padding-right: 25px;	
}